* {
    box-sizing: border-box;
    margin: 0;
}

/* General styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
}

#adminProductBox {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70vw;
    padding: 10px;
    border: 1px solid black;
}

#adminProductWrapp {
    margin-top: 40px;
}

.adminProductBoxBtn {
    border: none;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 15%;
    margin-bottom: 10px;
} 

table {
    border: hidden;
}

textarea {
    resize: none;
  
}

/* Styling for adminUpdatePanel */

.UpdatePanelProdRow > td {
    padding: 10px;
    text-align:center;

}

.updatePanalTitleRow > td {
    padding: 10px;
    text-align:center;

}
.updatePanalTitleRow {
/*     display: flex;
    flex-direction: row;
    justify-content: space-between; */
    background-color: lightblue;
    border: 1px solid black;
    
}

.UpdatePanelProdRow {
/*     display: flex;
    flex-direction: row;
    justify-content: space-between; */
    background-color: lightcoral;
    border: 1px solid black;

}

#editPopUpDiv {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    margin-top: 30vh;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightblue;
}

.editPopUpInput, #editPopUpCategory {
    min-height: 5vh;
}


/* Styling for addProductPanel */
#addProductTabel > tr > td {
    padding: 0px;
}

#addProductTabel > tr > td:nth-child(2) {
    height: 5vh;

}
#addProductTabel > tr > td:nth-child(1) {
    font-size: 1.2em;
    padding-right: 20px;

}

#addProductTabel > tr > td > input, #addProductTabel > tr > td > textarea, #addProductTabel > tr > td > select {
    width: 100%;
    height: 100%;
    
}
/* To style uploadButton */
#adminProductBox > div {
    display: flex;
    padding: 20px 10px 10px 10px;
    width: 100%;
    justify-content: space-between;
}











