/* * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
} */

body{
    background-color: #E8E0E4;
    background-image: url(./assets/layout/shape.svg);
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    min-height: 80vh;
}
.totalPriceDiv{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

hr {
    width: 30vw;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right,rgba(200, 215, 224, 0),rgba(200, 215, 224, 0.609),rgba(200, 215, 224, 0));
  }

#checkoutDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#confirmOrderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#confirmOrderDiv >p{
   color: #707070;
}
#confirmOrderDiv >h4{
    font-size: 2em;
    letter-spacing: 1px;
   color: #707070;
}
#cartDiv{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.headlineDiv{
    color: #707070;
    display: flex;
    width: 100%;
}
.headlineOne{
    
    display: flex;
    justify-content: center;
    flex: 1;
}
.headlineTwo{

    display: flex;
    justify-content: center;
    flex: 1;
}

.quantityDiv h4{
    cursor: pointer;
}

.cartProductBox{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #E9D9E0;
  
}
.cartProductBox:nth-child(even){

    background-color: #C8D7E0;
  
}

.imgDiv{
    display: flex;
    justify-content: flex-end;
    height: 100px;
   flex: 1;
}
.imgDiv >img{
    display: flex;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.descDiv{
    display: flex;
    flex-direction: column;
    flex: 3;
   
}

.quantityDiv{
    display: flex;
    justify-content: space-around;
    flex: 1;
}


.removeDiv{
    display: flex;
    justify-content: center;
    flex: 1;
}


#shippingDiv{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labelDiv{
display: flex;
justify-content: flex-start;
flex-direction: column;

flex: 1;
}



.shipperContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    color: #707070a8;
    border: 1px solid #70707074;
    padding: 23px 20px;
    margin: 6px 0;
}

.shipperContainer:hover{
    transition: ease-in 1000;
    border: 1px solid #707070;
    color:#707070;
}


.shipperContainer:active{
    transition: ease-in 2000;
    border: 1px solid #B5CDCC
}
input[name="shipperChoice"]{
    width: 25px;
    height: 25px;
}

input[name="shipperChoice"]:checked{
    background-color: crimson;
    width: 25px;
    height: 25px;
    border-color:crimson ;
}



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 900px) {

    .cartProductBox{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #E9D9E0;

    }

    .shipperContainer{
        width: 100vw;
    }

    hr{
        width: 100vw;
    }
  }