/* * {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
} */

body{
    background-color: #E8E0E4;
    background-image: url(./assets/layout/shape.svg);
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    min-height: 80vh;
}

#checkoutDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#cartDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quantityDiv h4{
    cursor: pointer;
}

.cartProductBox{
    display: flex;
  
    align-items: center;
    width: 50%;
    background-color: #E9D9E0;
  
}
.cartProductBox:nth-child(even){

    background-color: #C8D7E0;
  
}

.imgDiv{
    display: flex;
    justify-content: flex-end;
    height: 100px;
   flex: 1;
}
.imgDiv >img{
    display: flex;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.descDiv{
    display: flex;
    flex-direction: column;
    flex: 2;
   
}

.quantityDiv{
    display: flex;
    justify-content: space-around;
    flex: 1;
}


.removeDiv{
    display: flex;
    justify-content: center;
    flex: 2;
}


#shippingDiv{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labelDiv{
display: flex;
justify-content: flex-start;
flex-direction: column;

flex: 1;
}



.shipperContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    color: #707070a8;
    border: 1px solid #70707074;
    padding: 23px 20px;
    margin: 6px 0;
}

.shipperContainer:hover{
    transition: ease-in 1000;
    border: 1px solid #707070;
    color:#707070;
}


.shipperContainer:active{
    transition: ease-in 2000;
    border: 1px solid #B5CDCC
}
input[name="shipperChoice"]{
    width: 25px;
    height: 25px;
}

input[name="shipperChoice"]:checked{
    background-color: crimson;
    width: 25px;
    height: 25px;
    border-color:crimson ;
}



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 900px) {

    .cartProductBox{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #E9D9E0;

    }

    .shipperContainer{
        width: 100vw;
    }
  }