
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
    background-color: #E8E0E4;
    background-image: url(./assets/layout/shape.svg);
    background-repeat: no-repeat;
}


h1, h2{
    color:#707070;
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.navRight{
    display: flex;
    flex-direction: row-reverse;
/*     flex: 1 1 auto;
 */}

.navRight i{
    padding: 0 10px;
}





.svgTop{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(./assets/layout/shape.svg);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

#popupBackground, .modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 98; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    
    backdrop-filter:blur(3px);
    background-color:rgba(0, 0, 0, 0.19);
}

input{
    text-align: center;
    border: solid 2px white;
    background-color: transparent;
    width: 80%;
    height: 50px;
    margin: 10px;
    transition: background-color .3s
}
input:focus{
    background-color: rgba(255, 255, 255, 0.616);
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

#logInForm, .modal-content{
    display: none;
    left: 0;
    right: 0;
    align-items: center;
    flex-direction: column;
    position: fixed;
 
    background-color:#C8D7E0 ;
    z-index: 99;
    margin: 8% auto; 
    border: 1px solid #888;
    width: 60%; 
    padding: 0.5rem;
    animation: animatezoom 0.6s
}
    #formUser{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

.defaultBtn, .addToCartBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B5CDCC;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    margin: 5px;
    color:#707070;
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    cursor:pointer;
}
.defaultBtn:hover{
    transition:ease-in .2s;
    background-color: #b5cdccad;
}



.mainWrapper{
    display: flex;
    flex-direction: column;
/*     margin-top: 7vh;
 */   /*  height: 93vh; */
}

#productWrapper{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    background-color: #BED1D9;
    padding-left: 20px;
    
}

.productContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.productBoxWrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    background-color: white;
    border-radius: 2rem;
    align-items: center;
    padding: 1.5rem;
    margin:2rem 0;
    
    color: #707070;
    font-family: cheap-pine, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    
}

.productBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    background-color: white;
    
    align-items: center;
   
    
    
    
}

.productBoxWrapper > .productBox > img {
    object-fit: contain;
    width: 50%;
    height: 50%;
    
}

.addToCartBtn{
    width: 15vw;
    height: 10%;
    font-size: 1.2rem;
    justify-content: center;
    

  
}


.discountContainer{
    display: flex;
    flex-direction: row;
    margin-top: 25vh;
/*     z-index: 2;
 */

}

.discountBox{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    background-color:#e9d9e0 ;
    height: 35vh;
    padding-left: 10px;
}

.discountBox:nth-child(2) {
    background-color:#E2DDDC;
  }

.discountItems{
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.bottomSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to top, rgba(255, 255, 255, 0.52),
     rgba(232, 224, 228)),
    url('./assets/layout/godisrpsa.jpg');
    background-size: cover;
}

.cancelBox{
    display: flex;
    justify-content: flex-end;
    width: 100%;
   
}

.bottomContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

footer {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313131;
    color: white;
    text-align: center;
}

.mediaContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

.mediaContainer i{
    margin: 10px;
}

.footerLogo{
    display: flex;
    justify-content: center;
    fill:#E9DADB;
    height: auto;
    width: 250px;
}


.flexRow{
    display: flex;
    flex-direction: row;

}

#anchorProduct {
/*     scroll-margin-top: 4em; */
}





/* ProductPopupDiv */
/* .modal {
    display: none; 
    position: fixed;
    z-index: 10; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%; 
     overflow: auto; 
    backdrop-filter:blur(3px);
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
} */
.modal-content {
    display: flex;
    
    /* flex-direction: column;
    align-items: center;
    background-color: white;
    margin:15% auto; 
    padding: 1.5rem;
    z-index: 11;
    border: 0.2rem solid black;
    border-radius: 2rem;
    width: 30vw; 
    animation: animatezoom 0.6s */
    
}
.modal-content > h2 {
    
}
 .modal-content >img {
    object-fit: contain;
    max-width: 30%;
    max-height: 30%;
   

} 
.modal-content > p {
    font-style: italic;
} 

.close {
    align-self: flex-end;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 4vh;
}
/* BÖR MINSKA DESC I mediaquery  */
    




      /* Phone mediaquery */
      @media (max-width: 800px) {
        .discountContainer{
          flex-direction: column;
        }

        .popularProductsContainer{
            margin-top: 50px;

        }#logInForm{
            width: 100%; 
        }

        header{
            padding: 0 25px ;
        }
        .productBoxWrapper {
            justify-content: space-between;
            width: 40vw;
            font-size: x-small;
        }
        .addToCartBtn{
            width: 25vw;
            font-size: x-small;
        }
        
        .modal-content{
            margin-top: 10rem;
            width: 60vw;
        }
        .modal-content >p{
            font-size: 0.7rem;
        }
        .modal-content > h2 {
            font-size: 1.5rem;
        }
        #currentUser{
            display: none;
        }
  

      }

      /* Tablet */
    @media screen and (max-width: 1050px){
        .modal-content{
            
            margin: 30% auto;
        }
    }


