header{
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 20px ;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(/assets/layout/godisrpsa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 97;
    height: 8vh;
}
#headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    min-height: 8vh;
    position: relative;
    bottom: 0px;
/*     z-index: 99;
 */}

#headerTop {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 12vh;
    display: none;
}

#headerTop > div {
    text-decoration: none;
    cursor: pointer;
}

.headerBox {
    display: none;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    background-color:rgba(255, 255, 255, 0.7);
    font-size: 0.5em;
    margin: 0 1em;
    height: 8vh;
    align-items: center;
}
.headerBox:hover {
    background-color:rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 15px black;
}

.headerBox:active {
    box-shadow: none;
    box-shadow: inset 0px 0px 10px 0px black;
}

.growHeader {
    height: 20vh;
    
}

.showHeaderContent {
   display: flex !important; 
}



.menu {    
    display: flex;
    cursor: pointer;
/*     padding: 6px 16px;
 */    border-radius: 5px;
 }

.menu:hover, .myPageBtn:hover, .cartBtn:hover {
    box-shadow: 0px 0px 20px 0px black;
}

.menu:hover > #menuBtn > .bar1 {
    background-color: hotpink;
}

.menu:hover > #menuBtn > .bar2 {
    background-color:lightskyblue;
}

.menu:hover > #menuBtn > .bar3 {
    background-color:black;
}

.menu:active, .myPageBtn:active, .cartBtn:active  {
    box-shadow: inset 0px 0px 10px 0px black;

}

.brandLogo > a {
    text-decoration: none;  

}

.brandLogo {
    cursor: pointer;
} 

#menuBtn {
    padding: 15px;

}

.myPageBtn{
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    
}

.cartBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    color: black;
    border-radius: 5px;
    font-size: 2rem;

}

#valueInCart {
    font-size: 1.5rem;
    padding-left: 10px;
}

#currentUser {

    font-size: 1.5rem;
    padding-right: 10px;
}


.navRight > a {

    color: black;
    text-decoration: none;
}