.mainWrapper{
    margin: 0;
    height: 93vh;
}

.myPageContainer{
    display: flex;
    flex-direction: column;
    
   /*  margin-top: 14rem; */
   
    /* background-color: #000000; */
}

.headlineContainer{
    display: flex;
    justify-content: center;
}
.headlineContainer h1{
    font-size: 4rem;
}

.myPage{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
    flex-wrap: wrap;


}


.myPageContent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    
}

.myPageMenu{
    display: flex;
    width: 20%;
    
    margin-top: 2rem;
    border: solid thin  rgba(0, 0, 0, 0.233);
    flex-direction: column;
   
} 

.myPageMenuBtn {
    /*
    min-width: 371px;
    min-height: 106px;
    */
    display: flex;
    /* width: 100%; */
    /* justify-content: space-around; */
    align-content: flex-start;
    align-items: center;
    padding: 3rem;
    border-left:10px solid transparent; 
    background-color:#C8D7E0;
    cursor: pointer;
    font-size: 1.5rem; 
}
.myPageMenuBtn i {
    font-size: 1.5rem;
    margin-right: 1rem;
}
.myPageMenuBtn h1 {
    font-size: 1.3rem;
    
}

.myPageMenuBtn:hover {
    border-left: 10px solid #B4CDCC;
    transition: all .2s;
    
}

.myPageMenuBtn:active {
    box-shadow: inset 0px 0px 20px #B4CDCC;
    border-left: 10px solid #B4CDCC;
    
}
/* userInfo styling */


.userInfoContainer{
    display: flex;
    flex-direction: column;
    
    font-size: large;
}
.userInfoContainer > p{
    padding: 0.2rem;
}

/* current user print out name*/
.myPageBtn{
    display: flex;
    
}
.currentUser {
    font-size: 4rem;
}
.myCheckbox{
    background-color: #4CAF50;
    width: 8vw;
    height: 4vh;
}
.myPageContent > table{
    width: 100%;
    align-items: stretch;
}



/* @media  screen and(min-width: 700px) and (max-width:799px) {
    
    .myPageContainer {
        margin-top: 150px;
    }
    


  } */
  @media screen and (max-width: 800px){
    
    .mainWrapper{
        width: 100vw;
        height: 100vh;
    }
    .headlineContainer > h1{
        font-size: 2rem;
    }
    .myPage{
        display: block;
    }
    .myPageMenu{
        width: 100%;
        
    }
    .myPageContent{
        width: 100%;
        height: 40vh;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .myPageContainer{
        margin-top: 25rem;
    }
    .myPageContent > table{
        margin-top: 2rem;
       
    }
    .myPageMenuBtn{
        /* justify-content: center; */
    }
    .myCheckbox{
        width: 25vw;
        height: 5vh;
       
    }
    footer{
        margin-top: 15rem;
    }
    
  }